[{lager,
       [{async_threshold, 64000},
        {handlers,
            [
               {lager_console_backend, debug},
               {lager_file_backend, [{file, "log/debug.log"}, {sync_on, none},
                 {level, debug}, {size, 100000000}, {date, "$D0"}, {count, 5}]}
            ]}
        ]},
    {neo_cache,[
        {tcp_port, 8000},
        {max_memory, 1000}
    ]}
].
